[server]
hosts = 0.0.0.0:{{ radicale_port }}

[auth]
type = htpasswd
htpasswd_filename = {{ user_home }}/radicale/users
htpasswd_encryption = bcrypt

[storage]
filesystem_folder = {{ user_home }}/radicale/collections
